<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <br>
        <h3 style="text-align: center;">Please read out these animals Name</h3>
        <h3 style="text-align: center;">Try to remember<span style="color: yellowgreen;">(you have 10s)</span></h3>
        <br>
        <div style="color: red; font-size: 30px; text-align: center;"id="countdown"></div>
        
      </div>
      
      <div class="col-sm">
        <br><br>
        <table style="width: 100%;">
          <tr>
            <th>Animals</th>
          </tr>
          <tr>
            <td>Cat</td>
          </tr>
          <tr>
            <td>Elephant</td>
          </tr>
          <tr>
            <td>Goat</td>
          </tr>
          <tr>
            <td>Lion</td>
          </tr>
          <tr>
            <td>Rabbit</td>
          </tr>
          <tr>
            <td>Tiger</td>
          </tr>
          <tr>
            <td>Mouse</td>
          </tr>
          <tr>
            <td>Cow</td>
          </tr>
          <tr>
            <td>Horse</td>
          </tr>
          <tr>
            <td>Wolf</td>
          </tr>
          
        </table>
        
      </div>
  
    </div>
  
  </div>